/node_modules
/public/hot
/public/storage
/public/fonts
/public/css
/public/js
/public/img
/public/assets
/public/service-worker.js
/public/manifest.json
/public/precache-manifest.*.js
/public/favicon.ico
/resources/assets/js/env.js
/resources/views/index.blade.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
